<div class="container marketing">
    <div class="row justify-content-center">
        <h1 class= "text-center">¿Cómo funciona?</h1>
        <div class="col-sm-3 shadow m-4 bg-white rounded text-center">
            <a class="btn btn-lg m-5 text-white bgFirstColor fontUpper sizeMarketing" href="#">1</a>

            <p>Explora tus tiendas favoritas y agrega productos de tus tiendas favoritas al carro.</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-sm-3 shadow m-4 bg-white rounded text-center">
            <a class="btn btn-lg m-5 text-white bgFirstColor fontUpper sizeMarketing" href="#">2</a>
            <p class="mb-5">Un Shopper alista tu pedido con los mejores productos en la tienda de tu preferencia.
            </p>
        </div><!-- /.col-lg-4 -->
        <div class="col-sm-3 shadow m-4 bg-white rounded text-center">
            <a class="btn btn-lg m-5 text-white bgFirstColor fontUpper sizeMarketing" href="#">3</a>

            <p>Tu pedido está listo, y así llegará a tus manos, sin que hayas salido de casa!</p>
            
            
        </div><!-- /.col-lg-4 -->
        <img src="../../../images/footer_landing.png" style="width:80%">
    </div><!-- /.row -->
</div><!-- /.container -->