<nav class="navbar navbar-expand-md navbar-dark fixed-top bgSecondColor">
    <div class="container-fluid">
        <a href="pagina_principal" style="width:12%"><img src="../../../images/logo_frutiexpress.png" style="width:100%"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse mx-3" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a class="nav-link text-secondary fontBold" href="#">Publica tu tienda</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-secondary fontBold">Ayuda</a>
                </li>
            </ul>
        </div>

        <div class="text-end">
            <button type="button" class="btn btn-outline-secondary fontBold me-2" data-bs-toggle="modal"
                data-bs-target="#modalCarrito">
                <span>Carrito de Compras</span>
                <span id="cantProductos">(0)</span>
            </button>
            <a href="../pagina_principal" role="button" class="btn text-white bgFirstColor">Cerrar Sesión</a>
            
        </div>
    </div>
</nav>