<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
  <!-- Navbar Brand-->
  <a class="navbar-brand ps-3" href="index.html">FrutiExpress</a>
  <!-- Sidebar Toggle-->
  <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i
      class="fas fa-bars"></i></button>
  <!-- Navbar Search-->
  <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
    <div class="text-end">
      <button type="button" class="btn btn-outline-light me-2" data-bs-toggle="modal" data-bs-target="#modalCarrito">
        <span>Carrito de Compras</span>
        <span id="cantProductos">(0)</span>
      </button>
      <a href="/pagina_principal" role="button" class="btn btn-success">Cerrar Sesión</a>
    </div>
  </form>
</nav>